<p-toast></p-toast>
<div class="limiter" *ngIf="this.isPasswordExpired == false">
    <div class="container-login100">
            <form [formGroup]="resetPasswordForm" class="login100-form p-b-33 p-t-5" style="width: 400px;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center card-heading">Reset Password</h2>
                      <div class="form-group">
                        <label class="sr-only" for="oldPassword">New Password</label>
                        <input class="form-control form-control-sm" name="password" placeholder="New Password" type="password" autocomplete="off" formControlName="newPassword" [type]="isShowNewPassword == false ? 'password' : 'text'" [ngClass]="{'is-invalid':resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].errors?.required}" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                        <div class="eye-icon">
                            <i class="fa" [ngClass]="isShowNewPassword == false ?'fa-eye-slash' : 'fa-eye'" (click)="onClickNewPasswordIcon()"></i>
                          </div>
                        <span class="mandatory" *ngIf="resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].errors?.required">Please enter new password</span>
                          <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength')" class="mandatory">
                            {{_stringResourceErrors.PASSWORD_VALIDATION_PATTERN2}}
                          </span>
                          <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('pattern')" class="mandatory">
                            {{_stringResourceErrors.PASSWORD_VALIDATION_PATTERN1}}
                          </span>
                          <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('maxlength')"class="mandatory">
                            {{_stringResourceErrors.PASSWORD_VALIDATION_PATTERN3}}</span>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="confirmPassword">Confirm Password</label>
                          <input name="confirmPassword" type="password" autocomplete="off" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" [type]="isShowConfirmPassword == false ? 'password' : 'text'" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                          <div class="eye-icon">
                            <i class="fa" [ngClass]="isShowConfirmPassword == false ?'fa-eye-slash' : 'fa-eye'" (click)="onClickConfirmPasswordIcon()"></i>
                          </div>
                        <div
                          *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('notEquivalent') && resetPasswordForm.controls['confirmPassword'].touched"
                          class="mandatory">
                          {{_stringResourceErrors.PASSWORD_MISMATCH}}
                        </div>
                      </div>
                      <!-- <mat-card *ngIf="showErrorMessage" class="alert-danger">{{errorMessage}} <span
                        class="pull-right" style="cursor: pointer;"
                        (click)="closeErrorMessage()">X</span></mat-card> -->
                
                      <button id="submitBtn" class="btn btn-md btn-block btn-submit" type="submit" (click)="onSubmitResetPassword()">Submit</button>
                    </div>
                  </div>
            </form>
        </div>
</div>

<div *ngIf="this.isPasswordExpired == true" class="image-container">
    <img src="../../assets/images/expired.jpg">
</div>