<!---Contractor---->
<p-toast></p-toast>
<div class="card pl-1">
    <!-- <span class="material-icons mt-2 ml-1" data-toggle="tooltip" data-placement="bottom" title="Back to vendor list"  [routerLink]="'/vendors-list'" style="color: #506681; font-size:xx-large; cursor: pointer;"> arrow_circle_left </span> -->
    <i class="fa-solid fa-left-long" data-toggle="tooltip" data-placement="bottom" title="Back to resources list" [routerLink]="'/vendors-list'" style="color: #506681; font-size:xx-large; cursor: pointer; padding-left: 20px; padding-top: 10px;"></i>
    <!-- <div class="d-flex" style="margin: 35px 0 0 0;">
        <i class="fa fa-arrow-left mr-2" data-toggle="tooltip" data-placement="top" title="Back to contractor list" [routerLink]="'/contractors-list'" aria-hidden="true" style="font-size: 25px;cursor: pointer;"></i><strong class="mt-1 mr-2">Vendor Name:</strong><h3 style="color: red;">{{this.contractDetails?.contractor_details?.company_name}}</h3>
    </div> -->
     <!-- <div class="d-flex" style="margin: 35px 0 0 0;padding-left: 1rem;">
        <i class="fas fa-chevron-left mr-2" data-toggle="tooltip" data-placement="top" title="Back to vendor list" [routerLink]="'/vendors-list'" aria-hidden="true" style="font-size: 20px;cursor: pointer;"></i>
    </div> -->
    <div class="pl-4">
        <div class="card-body pt-1">
            <div class="row" *ngIf="contractorMode == 'edit'">
                <div class="col-sm-6">
                    <!-- <i class="fa fa-arrow-left mr-2 mt-1" data-toggle="tooltip" data-placement="top" title="Back to contractor list" [routerLink]="'/contractors-list'" aria-hidden="true" style="font-size: 20px;cursor: pointer;"></i><strong class="mt-1 mr-2">Contracting Firm Name:</strong><h3 style="color: red;">{{this.contractDetails?.contractor_details?.company_name}}</h3>
                    <span><strong>Contracting Firm Name</strong></span>
                    <p>{{this.contractDetails?.contractor_details?.company_name}}</p> -->
                </div>
                <div class="col-sm-6 text-right">
                    <i class="fas fa-file-pen" style="color: #506681; cursor: pointer; font-size: 17px;" data-toggle="tooltip" data-placement="top" title="Edit Vendor" (click)="showModal(this.contractDetails)"></i>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Vendor Name</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.company_name}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Business Email Id</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.business_email}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Status</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.status}}</span>
                </div>
            </div>
            
            <!-- <div class="row">
                <div class="col-sm-4">
                    <span class="mr-2"><strong>Business Email:</strong></span>
                    <span>{{this.contractDetails?.contractor_details?.business_email}}</span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-sm-4">
                    <span class="mr-2"><strong>Status:</strong></span>
                    <span>{{this.contractDetails?.contractor_details?.status}}</span>
                </div>
            </div> -->
            <div class="row pt-3">
                <div class="col-sm-12">
                    <h5 class="pb-2"><strong style="color:#506681">Address</strong></h5>
                </div>
            </div>
            <hr style="margin-top: -0.5rem;">
            <div class="row">
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Address Line1</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.addressline1}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Address Line2</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.addressline2}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>City</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.city}}</span>
                </div>
            </div>
            <div class="row pt-3">
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>State</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.state}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Country</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.country}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Zip Code</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.zipcode}}</span>
                </div>
            </div>
            
            <div class="row pt-3">
                <div class="col-sm-12">
                    <h5 class="pb-2"><strong style="color:#506681">Primary Contact Info</strong></h5>
                </div>
            </div>
            <hr style="margin-top: -0.5rem;">
            <div class="row">
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Contact First Name</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.contact_first_name}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Contact Middle Name</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.contact_middle_name}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Contact Last Name</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.contact_last_name}}</span>
                </div>
            </div>
             <div class="row pt-3">
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Contact Email Id</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.contact_email_id}}</span>
                </div>
                <div class="d-flex col-sm-4 px-0">
                    <label class="col-sm-4"><strong>Contact Phone Number</strong></label>
                    <span class="col-sm-1">:</span>
                    <span class="col-sm-7">{{this.contractDetails?.contact_phone_number}}</span>
                </div>
             </div>
            <!-- <h5 class="pb-2 pt-4"><strong style="color:#506681">Resources</strong></h5>
          <hr style="margin-top: -0.5rem;">
            <ag-grid-angular class="ag-theme-alpine" [rowData]="resourceList"
                [columnDefs]="resourcesColumnDefs" [pagination]="true" [paginationPageSize]="10"
                (gridReady)="onGridReady($event)"></ag-grid-angular> -->
        </div>
    </div>
</div>


<div bsModal #contractorData="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}"
    id="certificationDetailsModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="ml-2 mt-2">VENDOR DETAILS</strong>
                <span type="button" class="close mr-2" (click)="hideModal()">&times;</span>
            </div>
            <div class="modal-body col-lg-12">
                <form [formGroup]="contractorForm">
                    <div class="col-lg-12 row pt-2">
                        <div class="col-lg-12">
                            <label class="form-label">Vendor Name <span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter vendor Name"
                                formControlName="contractorName" [ngClass]="{'is-invalid':contractorForm.controls['contractorName'].touched && contractorForm.controls['contractorName'].errors?.required}" maxlength="75" appAlphaWithSpace inputType="alphaWithSpace">
                                <span class="mandatory" *ngIf="contractorForm.controls['contractorName'].touched && contractorForm.controls['contractorName'].errors?.required">Please enter vendor name</span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-2">
                        <div class="col-lg-4">
                            <label class="form-label">Business Email Id<span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter business Email Id"
                            formControlName="businessEmail" [ngClass]="{'is-invalid':contractorForm.controls['businessEmail'].touched && contractorForm.controls['businessEmail'].errors}"  maxlength="150">
                            <span class="mandatory" *ngIf="contractorForm.controls['businessEmail']?.touched && contractorForm.controls['businessEmail'].errors?.pattern">Please enter valid business email Id</span>
                            <span class="mandatory" *ngIf="contractorForm.controls['businessEmail']?.touched && contractorForm.controls['businessEmail'].errors?.required">Please enter business email Id</span>
                        </div>
                        <div  class="col-lg-4">
                            <label class="form-label">Status <span class="mandatory">*</span></label>
                            <select class="form-control form-control-sm" formControlName="status" [ngClass]="{'is-invalid':contractorForm.controls['status'].touched && contractorForm.controls['status'].errors?.required}">
                                <option disabled value="">Select status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <span class="mandatory" *ngIf="contractorForm.controls['status'].touched && contractorForm.controls['status'].errors?.required">Please select status</span>
                        </div>
                    </div>
                    <div class="col-lg-12 row mt-4">
                        <div class="col-lg-4">
                            <h5><strong style="color:#506681">Address</strong></h5>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-lg-4">
                            <label class="form-label">Address Line1 <span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter address line1"
                                formControlName="addLine1" [ngClass]="{'is-invalid':contractorForm.controls['addLine1'].touched && contractorForm.controls['addLine1'].errors?.required}" maxlength="150" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                                <span class="mandatory" *ngIf="contractorForm.controls['addLine1'].touched && contractorForm.controls['addLine1'].errors?.required">Please enter address line1</span>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Address Line2</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter address line2"
                                formControlName="addLine2" maxlength="150" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">City <span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter city" formControlName="city" [ngClass]="{'is-invalid':contractorForm.controls['city'].touched && contractorForm.controls['city'].errors?.required}" maxlength="75" appAlphaWithSpace inputType="alphaWithSpace">
                            <span class="mandatory" *ngIf="contractorForm.controls['city'].touched && contractorForm.controls['city'].errors?.required">Please enter city</span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-2">
                        <div class="col-lg-4">
                            <label class="form-label">State <span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter state" formControlName="state" [ngClass]="{'is-invalid':contractorForm.controls['state'].touched && contractorForm.controls['state'].errors?.required}" maxlength="75" appAlphaWithSpace inputType="alphaWithSpace">
                            <span class="mandatory" *ngIf="contractorForm.controls['state'].touched && contractorForm.controls['state'].errors?.required">Please enter state</span>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Country <span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter country" formControlName="country" [ngClass]="{'is-invalid':contractorForm.controls['country'].touched && contractorForm.controls['country'].errors?.required}" maxlength="75" appAlphaWithSpace inputType="alphaWithSpace">
                            <span class="mandatory" *ngIf="contractorForm.controls['country'].touched && contractorForm.controls['country'].errors?.required">Please enter country</span>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Zipcode <span class="mandatory">*</span></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Zipcode" formControlName="zipcode" [ngClass]="{'is-invalid':contractorForm.controls['zipcode'].touched && contractorForm.controls['zipcode'].errors}" minlength="5" maxlength="6" appAlphaWithSpace inputType="strictlyNumber">
                            <span class="mandatory" *ngIf="contractorForm.controls['zipcode'].touched && contractorForm.controls['zipcode'].errors?.required">Please enter zip code</span>
                            <span class="mandatory" *ngIf="contractorForm.controls['zipcode']?.touched && contractorForm.controls['zipcode']?.hasError('minlength')">{{_stringResourceErrors.ZIPCODE_VALIDATIONS2}}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-4">
                        <div class="col-lg-4">
                            <h5><strong style="color:#506681">Primary Contact Info</strong></h5>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-lg-4">
                            <label class="form-label">Contact First Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter contact first name"
                                formControlName="contactFirstName" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                                <!-- <span class="mandatory" *ngIf="contractorForm.controls['contactFirstName'].touched && contractorForm.controls['contactFirstName'].errors?.required">Please enter contact first name</span> -->
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Contact Middle Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter contact middle name"
                                formControlName="contactMiddleName" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Contact Last Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter contact last name"
                                formControlName="contactLastName" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
                                <!-- <span class="mandatory" *ngIf="contractorForm.controls['contactLastName'].touched && contractorForm.controls['contactLastName'].errors?.required">Please enter contact last name</span> -->

                        </div>
                    </div>
                    <div class="col-lg-12 row pt-2">
                        <div class="col-lg-4">
                            <label class="form-label">Contact Email Id</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter contact Email Id"
                                formControlName="contactEmail" [ngClass]="{'is-invalid':contractorForm.controls['contactEmail'].touched && contractorForm.controls['contactEmail'].errors?.pattern}">
                                <!-- <span class="mandatory" *ngIf="contractorForm.controls['contactEmail'].touched && contractorForm.controls['contactEmail'].errors?.required">Please enter contact email</span> -->
                                <span class="mandatory" *ngIf="contractorForm.controls['contactEmail']?.touched && contractorForm.controls['contactEmail'].errors?.pattern">Please enter valid contact email Id</span>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Contact Phone Number</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter contact phone number"
                                formControlName="contactPh" maxlength="20" usFormatPhoneNumber>
                                <!-- <span class="mandatory" *ngIf="contractorForm.controls['contactPh']?.touched && contractorForm.controls['contactPh']?.errors?.pattern">Please enter valid contact phone number</span> -->
                                <!-- <span class="mandatory" *ngIf="contractorForm.controls['contactPh'].touched && contractorForm.controls['contactPh'].errors?.required">Please enter contact phone number</span> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="cancel-button" (click)="hideModal()">Cancel</button>
                <button class="save-button" (click)="updateContractor()">Update</button>

            </div>

        </div>
    </div>
</div>