<p-toast></p-toast>
<div class="card p-0" style="border-radius: 1.25rem">
    <h5 class="text-center pt-3"><strong style="text-transform:uppercase;color: #506681;">Add Project</strong></h5>
    <div class="card-body">
      <form [formGroup]="addProjectForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="clientName">Client <span class="mandatory">*</span></label>
              <select class="form-control form-control-sm" formControlName="clientName" [ngClass]="{'is-invalid':addProjectForm.controls['clientName'].touched && addProjectForm.controls['clientName'].errors?.required}">
                <option disabled value="">Select Client</option>
                <option *ngFor="let client of clientList" [value]="client.client_details.id">{{client.client_details.client_name}}</option>
              </select>
              <span class="mandatory" *ngIf="addProjectForm.controls['clientName'].touched && addProjectForm.controls['clientName'].errors?.required">Please select client</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="projectName">Project Name <span class="mandatory">*</span></label>
              <input id="projectName" type="text" class="form-control form-control-sm" formControlName="projectName" placeholder="Enter project name" [ngClass]="{'is-invalid':addProjectForm.controls['projectName'].touched && addProjectForm.controls['projectName'].errors?.required}"  maxlength="75" appAlphaWithSpace inputType="noWhiteSpaceAtBeginning">
              <span class="mandatory" *ngIf="addProjectForm.controls['projectName'].touched && addProjectForm.controls['projectName'].errors?.required">Please select project name</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Project Manager <span class="mandatory">*</span></label>
              <select id="timeApprover" class="form-control form-control-sm" formControlName="projectManager" [ngClass]="{'is-invalid':addProjectForm.controls['projectManager'].touched && addProjectForm.controls['projectManager'].errors?.required}">
                <option disabled value="">Please select project manager</option>
                <option *ngFor="let manager of allManagers" [value]="manager.id">{{manager.first_name +' '+ ' '+manager.last_name}}</option>
              </select>
              <span class="mandatory" *ngIf="addProjectForm.controls['projectManager'].touched && addProjectForm.controls['projectManager'].errors?.required">Please select project manager</span>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="timeApprover">Time Approver <span class="mandatory">*</span></label>
              <select id="timeApprover" class="form-control form-control-sm" formControlName="timeApprover" [ngClass]="{'is-invalid':addProjectForm.controls['timeApprover'].touched && addProjectForm.controls['timeApprover'].errors?.required}">
                <option disabled value="">Please select time approver</option>
                <option *ngFor="let manager of allManagers" [value]="manager.id">{{manager.first_name +' '+ ' '+manager.last_name}}</option>
              </select>
              
              <span class="mandatory" *ngIf="addProjectForm.controls['timeApprover'].touched && addProjectForm.controls['timeApprover'].errors?.required">Please select time approver</span>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="sow">SOW/Task Order Executed <span class="mandatory">*</span></label>
              <select class="form-control form-control-sm" formControlName='sow' [ngClass]="{'is-invalid':addProjectForm.controls['sow'].touched && addProjectForm.controls['sow'].errors?.required}">
                <option disabled value=''>Select sow/task order executed</option>
                <option>Yes</option>
                <option>No</option>
              </select> 
              <span class="mandatory" *ngIf="addProjectForm.controls['sow'].touched && addProjectForm.controls['sow'].errors?.required">Please select sow/task order executed</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="startDate">Start Date <span class="mandatory">*</span></label>
              <div class="input-group">
                <input autocomplete="off" (keydown)="false" (paste)="false" (cut)="false" id="startDate" type="text" class="form-control form-control-sm" #startDate="bsDatepicker" bsDatepicker formControlName="startDate" placeholder="Enter start date" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY', showWeekNumbers: false }" [ngClass]="{'is-invalid':addProjectForm.controls['startDate'].touched && addProjectForm.controls['startDate'].errors?.required}" (keypress)="stopManualEntry($event)" [maxDate]="minEndDate(addProjectForm.value.endDate)">
                <div class="input-group-append">
                  <div class="input-group-text btn" (click)="startDate.toggle()">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <span class="mandatory" *ngIf="addProjectForm.controls['startDate'].touched && addProjectForm.controls['startDate'].errors?.required">Please select start date</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="endDate">End Date <span class="mandatory">*</span></label>
              <div class="input-group">
                <input autocomplete="off" (keydown)="false" (paste)="false" (cut)="false" id="endDate" type="text" class="form-control form-control-sm" #endDate="bsDatepicker" bsDatepicker formControlName="endDate" placeholder="Enter end date" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY', showWeekNumbers: false }" [ngClass]="{'is-invalid':addProjectForm.controls['endDate'].touched && addProjectForm.controls['endDate'].errors?.required}" (keypress)="stopManualEntry($event)" [minDate]="minEndDate(addProjectForm.value.startDate)">
                <div class="input-group-append">
                  <div class="input-group-text btn" (click)="endDate.toggle()">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <span class="mandatory" *ngIf="addProjectForm.controls['endDate'].touched && addProjectForm.controls['endDate'].errors?.required">Please select end date</span>

            </div>
          </div>
        </div>
        
        
        
  
        <h6 class="pb-4 pt-4"><strong style="color: #506681;">Assign Resources</strong></h6>
       
        <div class="row">
          <div class="col-md-6">
            <div class="card resource-card p-3 mb-3" *ngFor="let ele of selectedResources">
              <div class="row">
                <div class="col-sm-5">
                  <span class="form-label">Name</span>
                </div> :
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                  <span class="form-label">{{ele.first_name + ' ' + ' ' + ele.last_name}}</span>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <span class="form-label">Resource ID</span>
              </div> :
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <span class="form-label">{{ele.resource_number}}</span>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <span class="form-label">Email</span>
            </div> :
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <span class="form-label">{{ele.email_id}}</span>
            </div>
        </div>
          <!-- <div class="row">
            <div class="col-sm-5">
              <span class="form-label">Weekly Work Hours Limit <span class="mandatory">*</span></span>
            </div> :
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              
              <input type="text" class="form-control form-control-sm" [formControlName]="'weeklyWorkHours_' + ele.id" (change)="onWorkHoursLimitChange($event.target.value, ele.id)" appAlphaWithSpace inputType="strictlyNumber" maxlength="2">
              
  
            </div>
        </div> -->
        </div>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-4">
            <div>
              <ng-multiselect-dropdown
              [placeholder]="'Select Resources'"
              [settings]="dropdownSettings"
              [data]="resources"
              name="multiselectResource"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeSelect($event)"
            >
            </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
  
        <div class="p-3 d-flex justify-content-end">
          <button type="button" class="save-button" (click)="addProject()" style="margin-top: 250px;">Save</button>
        </div>
      </form>
    </div>
  </div>
  